:root {
  --softblack: #5a5050;
  --blue: #547a82;
  --softblue: #3eaca8;
  --softgreen: #a2d4ab;
  --lightgreen: #e5eec1;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--softblack);
}

/* Header */
.title {
  margin: 1vw;
  margin-left: 3vw;
  padding-left: 1vw;
  width: 16%;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--lightgreen);
  background: linear-gradient(45deg, var(--softblue) 47%, var(--lightgreen) 20%);
  border-radius: 5px;
}

.title1 {
  font-size: 2.5rem;
  color: var(--softblue);
}

/* Main Section */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw 20vw;
  background-color: var(--softblue);
  box-shadow: 5px 5px var(--lightgreen);
  border-radius: 10px;
}

.main__article {
  margin: 2vw;
  display: flex;
  justify-content: center;
}

/* Main SVG Styles */
.base, .bean, .rope, .ceiling{
  fill: var(--softblack);
}

.body, .head, .right__arm, .left__arm, .right__leg, .left__leg {
  fill: var(--lightgreen);
  display: none;
}

.user__input {
  display: flex;
  justify-content: center;
}

.user__input--disabled {
  color: var(--lightgreen);
  text-align: center;
  font-size: 2rem;
  width: 3vw;
  margin: 0 2vw;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
}

.main__input {
  margin: 0 0 2vh;
  display: flex;
  justify-content: center;
}

.main__input--disabled {
  width: 3vw;
  height: 5px;
  margin: 0 2vw;
  display: flex;
  justify-content: center;
  border: 1px solid var(--softblack);
  border-radius: 5px;
  background-color: var(--softblack);
}

.main__output {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main__output--disabled {
  width: 3vw;
  padding: 1vh;
  margin: 0 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  outline: none ;
}

.rectangle {
  fill: var(--softblack);
}

/* Outside Section */
.outside {
  display: flex;
  justify-content: center;
}

.outside__buttons--btn {
  margin: 2vw;
  width: 10vw;
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--softblue);
  border: 2px solid var(--lightgreen);
  border-radius: 10px;
  box-shadow: 5px 5px var(--lightgreen);
  transition: all 1s ease;
}

.outside__buttons--btn:hover {
  box-shadow: -5px -5px var(--lightgreen);
  transform: translate(-5px, -5px);
}

button a {
  color: black;
  text-decoration: none;
}

button a:visited {
  color: black;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vw;
}

footer a {
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  text-decoration: none;
  color: var(--lightgreen);
}

footer a:visited {
  color: var(--lightgreen);
}